<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.AttendanceApp">
        <activity android:name=".ProfileSelectActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".SetupActivity" android:exported="false"/>
        <activity android:name=".AttendanceActivity" android:exported="false"/>
        <activity android:name=".StatsActivity" android:exported="false"/>
        <activity android:name=".CalendarActivity" android:exported="false"/>
        <activity android:name=".TeacherMainActivity" android:exported="false"/>
        <activity android:name=".TeacherAttendanceActivity" android:exported="false"/>
        <activity android:name=".StudentListActivity" android:exported="false"/>
        <activity android:name=".StudentDetailActivity" android:exported="false"/>
        <activity android:name=".ExamMarksActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".DefaulterListActivity" android:exported="false"/>
        <activity android:name=".ExamTrackerActivity" android:exported="false"/>
        <activity android:name=".TimetableActivity" android:exported="false"/>
        <activity android:name=".PrivacyPolicyActivity" android:exported="false"/>
        <activity android:name=".BadgesActivity" android:exported="false"/>
        <activity android:name=".WeeklyStatsActivity" android:exported="false"/>
        <receiver android:name=".notification.ReminderReceiver" android:exported="false"/>
    </application>
</manifest>
